:root {
  --green: rgb(128, 255, 0);
  --purple: rgb(151, 13, 151);
  --headersize: 180px;
}

h2 {
  font-size: 1.25em;
}

.header {
  width: 100vw;
  max-width: 1600px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: calc(var(--headersize) * 1 / 2) calc(
      var(--headersize) * 1 / 2
    );
  color: var(--green);
}

.header * {
  text-align: center;
}

.highscore,
.score {
  grid-row: span 2;
  font-size: 2em;
  font-weight: 900;
  align-self: end;
}

.gameboard {
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
}

.card {
  border: 8px solid #ffffff00;
  border-radius: 24px;
  box-shadow: #0000003d 0px 3px 8px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4fr 1fr;
  overflow: hidden;
}

.card:hover {
  border-color: var(--purple);
}

.card > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  color: var(--purple);
  font-size: 0.6em;
  font-weight: 900;
}

.card > div.name-hidden {
  color: var(--green);
}

#root > p {
  font-size: 4em;
}

@media (max-width: 48em) {
  :root {
    --headersize: 150px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }

  #root > p {
    font-size: 2em;
  }

  .highscore,
  .score {
    grid-row: span 2;
    font-size: 1.5em;
  }
}

@media (max-width: 40em) {
  :root {
    --headersize: 120px;
  }

  h1 {
    font-size: 1em;
  }

  h2 {
    font-size: 0.6em;
  }

  #root > p {
    font-size: 1em;
  }

  .highscore,
  .score {
    grid-row: span 2;
    font-size: 1em;
  }
}
